.history-btn:hover {
    cursor: pointer;
}

ul.history-list {
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: #ffffff;
    box-shadow:
            0 2px 2px 0 rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.2),
            0 1px 5px 0 rgba(0,0,0,.12);
    text-align: center;
    transition: all 0.4s;
    transform: scale(0);
    transform-origin: top right;
}

ul.history-list.is-visible {
    display: block;
    width: auto;
    height: auto;
    transform: scale(1);
}

ul.history-list li {
    box-shadow: none;
    padding: 10px;
    margin: 0;
    min-width: 170px;
    height: auto;
    display: block;
}

ul.history-list li:hover {
    background-color: #eeeeee;
    cursor: pointer;
}
