a {
  text-decoration: none;
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#locationSearchZone {
  margin: 15px 0 0 0;
}

ul {
  list-style: none;
  padding: 0;
}

div.page-content {
  height: 200px;
}

.modal {
  width: 90%;
  top: 150px;
  left: 5%;
  z-index: 10;
  position: fixed;
  display: none;
  box-shadow:
          0 2px 2px 0 rgba(0,0,0,.14),
          0 3px 1px -2px rgba(0,0,0,.2),
          0 1px 5px 0 rgba(0,0,0,.12);
}

.modal.is-visible {
  display: block;
}

h4 {
  background-color: #ffffff;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  padding: 10px;
}

@keyframes hover-result-btn {
  0% { font-size: 1.5em; }
  25% { font-size: 1.3em; }
  50% { font-size: 1.5em; }
  75% { font-size: 1.3em; }
  100% { font-size: 1.5em; }
}

#get-result {
  position: fixed;
  left: 0;
  width: 100%;
  top: 95%;
  font-size: 1.3em;
}

div.dim {
  position: fixed;
  background-color: #000000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 5;
}

div.dim.is-visible {
  display: block;
}

#close-map {
  width: 30%;
  font-weight: bold;
}

#get-result:hover {
  animation-name: hover-result-btn;
  animation-duration: 1s;
}

